.notie-container {
     box-shadow: none;
 }

 ::-webkit-scrollbar {
     -webkit-backface-visibility: hidden;
 }

 #chat-transcript {
     position: relative;
     max-height: 500px;
     height: 100vh;
     overflow-y: scroll;
 }

 .nav-link {
     font-weight: bolder;
 }

 .action:hover {
     cursor: pointer;
 }
